.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact,
.home,
.about {
  background: url('../Images/worst_store_ever.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}
.contactList {
  box-sizing: border-box;
  background-size: contain;
  width: 500px;
  list-style: none;
  text-align: center;
  display: inline-block;
}
.Navi {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-size: contain;
}
.burgers {
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menuimg > img {
  height: 200px;
  width: 200px;
  display: inline-block;
}
.bunnin {
  list-style: none;
  font-size: 16pt;
  width: 200px;
  color: rgb(34, 4, 34);
  text-shadow: -1px 0 rgb(227, 12, 64), 0 1px rgb(227, 12, 64), 1px 0 rgb(227, 12, 64), 0 -1px rgb(227, 12, 64);
  background-color: orange;
  display: flex;
  justify-content: space-around;
}

h2 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Burgertown {
  background: url('../Images/burger.gif') repeat;
  background-size: 75px;
}
.Cameratown {
  background: url('../Images/camera.gif') repeat;
  background-size: 175px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.Insurancetown {
  background: url('../Images/insurance.gif') repeat;
  background-size: 50px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.VHStown {
  background: url('../Images/vhs.gif') repeat;
  background-size: 75px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0em;
}
ul {
  list-style: none;
  text-align: center;
}
.nav-link {
  color: rgba(232, 21, 192, 0.72);
  text-shadow: -1px 0 rgba(21, 162, 232, 0.72), 0 1px rgba(21, 162, 232, 0.72), 1px 0 rgba(21, 162, 232, 0.72),
    0 -1px rgba(21, 162, 232, 0.72);
}
.homeP {
  height: 800px;
}
.videoTitle {
  color: rgb(34, 4, 34);
  text-shadow: -1px 0 rgb(227, 12, 64), 0 1px rgb(227, 12, 64), 1px 0 rgb(227, 12, 64), 0 -1px rgb(227, 12, 64);
  background-color: orange;
}
