.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact,
.home,
.about {
  background: url('../Images/worst_store_ever.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.contactList {
  box-sizing: border-box;
  background-size: contain;
  width: 500px;
}
.Navi {
  display: flex;
  justify-content: space-between;
  background-size: contain;
  width: 500px;
}
.burgers {
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menuimg > img {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}
ul {
  list-style: none;
}
